/part01-Part01_24.SpeedingTicket/target/
/part01-Part01_25.CheckYourIndentation/target/
/part01-Part01_26.Orwell/target/
/part01-Part01_36.LeapYear/target/
/part01-Part01_37.GiftTax/target/
/part02-Part02_02.SquareRootOfSum/target/
/part02-Part02_03.AbsoluteValue/target/
